.container {
}

.container > div {
  margin-bottom: 16px;
}

.grid {
  margin: 32px auto;
}

.row {
  width: 100%;
  max-width: 525px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
}

.buttonGroup {
  display: flex;
}

.buttonGroup button:not(:last-child) {
  margin-right: 16px;
}

label {
  cursor: pointer;
}

@media only screen and (max-width: 525px) {
  .buttonGroup {
    flex-direction: column;
  }

  .buttonGroup button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
